<!DOCTYPE html>
<html lang="fr">   
<head>    
    <title>Projet_S&F</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css"/> 
</head>    
<body>   
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Site de gestion d'offre d'emploi en IOT</h1>
  </div>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="deposer.html">Deposer</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="recherche.html">Rechercher</a>
        </li>  
        <li >
          <a class="nav-link" href="login.html">Login</a>
        </li> 
      </ul>
    </div>  
  </nav>
    <h2>Vous avez un compte?</h2><br>    
    <div class="login">    
      <form.login.data role ="form" method="POST" action = "{{ url_for('login') }}">
      </div>
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username" required>
        <br>
        <br>
        <label for="password">Mot de Passe</label>
        <input type="password" name="password" id="password" required>
        <br>
        <br>
        <input class button type="submit" value="Login">
      </form>
    <h2>Pas encore inscrit?</h2>
    <input type ="button" onclick="location.href='inscription.html';"value="Inscription"/>
</div>    
</body>    
</html> 