
#SAHL_COMPANY_HOME
{
    height: 200px;
    background: #aaa;
    text-align: center;
}

div#container{
    margin : auto;
}

div#collapsibleNavbar{

    float: left;
    
}

img{
    
    margin: auto;
    max-width: 70%;
    display: block;
}

button {
    background-color: #aaa;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

input[type="Access to the client data"]
  {
      border: black ;
      background: black;
      width: 20%;
      border-radius: 10px;
  }


  img
{      
    margin-right: 40%;
    max-width: 40%;
    display: block;
}


div#menu ul{
    list-style: none;
    text-align: center;
    display: block;
    width: 10%;
    margin-left:40%;
  }

  div#menu li{
    display: inline;
    margin: 10%;
  }